<page-header header="User List" page="users" (btnClick)="togglePopup()"></page-header>

@switch (isLoading) {
@case (true) {
<app-spinner></app-spinner>
}
@case (false) {
<!-- users table-->
<p-table #dt [value]="users" size="small" showGridlines
    [tableStyle]="{ 'min-width': '50rem', 'padding': '25px', 'backgroundColor': '#fff'}" [paginator]="true" [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]" [resizableColumns]="true" stripedRows
    styleClass="p-datatable-gridlines shadow-xl" [responsive]="true" [responsiveLayout]="'scroll'" [columns]="selectedColumns"
    [globalFilterFields]="['firstName', 'lastName', 'age', 'modBirthDate','modPhone', 'role', 'email', 'modGender' ]"
    (onPage)="updatePage($event)"
    >
    <!--caption field-->
    <ng-template #caption>
        <div class="flex justify-between">
            <p-multiselect size="small" display="chip" [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                placeholder="Choose Columns" (onChange)="change($event)" />
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input
                        pInputText
                        type="text"
                        (input)="filterGlobal($event, dt)"
                        placeholder="Search keyword"
                    />
                </p-iconfield>
        </div>
    </ng-template>

    <!--header field-->
    <ng-template #header let-columns>
        <tr>
            @for (col of cols; track $index) {
                @if (showColumn(col.field)){
                    @switch (col.sortable) {
                        @case (true) {
                            <th pResizableColumn [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field" class="ml-3"></p-sortIcon>
                            </th>
                        }
                        @case (false) {
                            <th pResizableColumn>
                                {{col.header}}
                            </th>
                        }
                    }
                }
                
            }
        </tr>
    </ng-template>

    <!--body field-->
    <ng-template #body let-user>
        <tr>
            @for (col of cols; track $index) {
                @if (showColumn(col.field)) {
                    <td class="text-sm">{{ user[col.field] }}</td>
                }
            }
        </tr>
    </ng-template>
</p-table>
}
}