:root {
  --primary-color-bg: #f97316;
  --primary-button-border: #fb923c;
  --primary-button-text: white;
  --primary-button-hover: #ea580c;

  --secondary-color-bg: #6d28d9;
  --secondary-button-border: #8a2be2;
  --secondary-button-text: white;
  --secondary-button-hover: #8a2be2;
}
