/* Variables */
:root {
  //text
  --primary: #f97316;
  --secondary: #6d28d9;

  //background
  --primary-bg: #f97316;
  --secondary-bg: #6d28d9;

  //border
  --primary-border: #f97316;
  --secondary-border: #6d28d9;

  //button-hver
  --primary-hover: #ea580c;
  --secondary-hover: #8a2be2;
  }
  